### Ignore everything ###
*

### Ignore files other than our addon & config ###
!src/
src/**
!src/config.php
!src/addons/
src/addons/**
!src/addons/7cav/
src/addons/7cav/**
!src/addons/7cav/keycloak/
!src/addons/7cav/keycloak/**

### Installer ###
!install-from-zip.sh

### General repo items ###
!.github/**
!.github/
!.gitignore

### Docker items ###
!.docker/**
!.docker/
!docker-compose.yml
